* {
	font-family: "proxima-nova",sans-serif;
}

body {
	font-size: 16px;
}

nav {
	background: rgba(21,21,52,0.7);
	height: 80px;
	width: 100%;
    position: fixed;
    z-index: 10000;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
    color: #2e2e6d;
}

h1 {
	font-size: 6rem;
}

h2 {
	font-size: 3rem;
	font-weight: 600;
}

h3 {
	font-size: 1.5rem;
}

a {
	text-decoration: none;
	color: #0e828b;
}

ul.menu {
    margin: 0 auto;
    text-align: center;
    line-height: 80px;
    vertical-align: middle;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
    top: 0;
}

ul.menu li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    cursor: pointer;
    line-height: 60px;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 1px;
}

ul.menu a li {
    color: #fff;
}


.lang {
    display: inline-block;
    float: right;
    line-height:80px;
    vertical-align: middle;
    padding: 0 20px;
    z-index: 10;
    position: relative;
    cursor: pointer;
    background: #2e5456;
    color: #fff;
    font-size: 0.875rem;
}


.lang .triangle {
    /* width: 10px; */
    /* height: 20px; */
    border-style: solid;
    border-width: 0 5px 8px 5px;
    border-color: transparent transparent #ffffff transparent;
    transform: rotate(180deg);
    display: inline-block;
    margin: 0 3px;
}

.lang-dropdown {
    position: absolute;
    right: 98px;
    background: #2e306b;
    display: none;
}

.lang-dropdown h4 {
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    text-align: left;
    float: left;
    text-indent: 0;
    text-align: center;
}
  
  
ul.lang-list {
    list-style: none;
    text-indent: 20px;
}

ul.lang-list li {
    background:#2e306b;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
    transition: all 0.5s ease-in-out;
 }

ul.lang-list li.active {
    background: #78d1d6;
}

ul.lang-list li:hover {
    background: #78d1d6;
}

img.login-icon {
    width: 20px;
    margin-right: 7px;
}

.user-info {
    display: inline-block;
    float: right;
    vertical-align: middle;
    line-height: 80px;
    color: #2e306b;
    background: #78d1d6;
    padding: 0 25px;
    position: relative;
    cursor: pointer;
    z-index: 15;
    color: #2e5456;
    text-transform: uppercase;
    font-size: 0.875rem
}

.logo-txt {
    line-height: 70px;
    vertical-align: middle;
    display: inline-block;
    padding: 0 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    z-index: 100;
    position: relative;
}

.logo-txt img {
    height: 32px;
}

.hp-bighero {
    height: 100vh;
    width: 100%;
    background-color: #3e3e92;
    background-image: url('../images/bighero.jpg');
    background-attachment: fixed;
    position: relative;
    display: table;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.hp-bighero .headings {
    z-index: 10;
    left: 0;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -40px;
    text-align: center;
    color: #fff;
}

.hp-bighero h1,
.hp-bighero h4 {
    text-align: center;
    color: #fff;
}

.hp-bighero h1 {
    margin-bottom: 10px;
    font-size: 6rem;
}

.hp-bighero h4 {
    font-size: 0.875rem;
    text-transform: uppercase;
    background: #fff;
    color: #2e2e6d;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 15px 35px;
    display: inline-block;
    margin: 0 auto;
    margin-top: 20px;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
}

.hp-bighero h4:hover {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;    
}

.left-col, .right-col {
	width: 100%;
	height: 600px;
	background-size: cover;
}

.left-col {
	background-image: url('../images/hp-banner-left.jpg');
}

.heading-container {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    margin-top: -50px;
    text-align: center;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0 50px;
    overflow: hidden;
}

.heading-intro {
    margin: 0;
    padding: 0;
    font-size: 3rem;
    color: #fff;
    font-weight: bold;
    line-height: 100%;
    margin-bottom: 20px;
}

.subtitle {
    margin: 0;
    text-transform: uppercase;
    color: #FFF;
    font-size: 0.875rem;
}

.no-padding {
	padding: 0;
}

.tag {
    color: #9898b0;
    font-size: 1rem;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
}

.featured-product {
    margin-top: 20px;
    width: 100%;
    height: 300px;
    border: 1px solid #eee;
    border-right: none;
    background: #f7fffe;
    transition: background 0.4s ease-in-out;
}

.one-forth:hover .featured-product {
    background: #e6f4f7;
}

.fd-pic {
    height: 100%;
}

.fd-pic img {
    height: calc(100% - 80px);
    margin: 20px 0;
    margin: 10px auto;
    display: block;
}

.one-forth {
    width: 25%;
    display: inline-block;
    float: left;
    position: relative;
}

.fd-container {
    padding: 55px;
}

.fd-container h1 {
	font-size: 3rem;
	color: #2e2e6d;
}

.fd-text {
    margin-bottom: 40px;
}

p {
	font-size: 0.875rem;
	line-height: 170%;
	color: #2e2e6d;
}

.featured-product.see-more {
    border: 5px solid #8CD4C4;
    background-image: url('../images/eye-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

.featured-product.see-more h2 {
    color: #8CD4C4;
    text-align: center;
    line-height: 120%;
    font-style: italic;
    font-size: 40px;
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    /* font-family: 'Work Sans', sans-serif; */
}

.img-article-container {

    width: 100%;
}

.img-article-container img {
    width: 100%;
}

.button, input.input-submit {
	color: #4c4db5;
	padding: 10px 30px;
	border: 1px solid;
	border-radius: 50px;
	font-size: 0.875rem;
	text-transform: uppercase;
	background: transparent;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
}

input.input-submit {
	background: #fff;
}

.button:hover, 
input.input-submit:hover {
    background: #4c4db5;
    border: 1px solid #4c4db5;
    color: #fff;
}

section.services {
	text-align: center;
	background: #f2f2f2;
}

section.services, section.products, section.about {
	padding-top: 50px;
	padding-bottom: 100px;
}

.services-tile {
	width: 100%;
	height: 210px;
	background-size: cover;
}

.services-tile.left {
	background-image: url('../images/service-1.jpg');
}
.services-tile.middle {
	background-image: url('../images/service-2.jpg');
}
.services-tile.right {
	background-image: url('../images/service-3.jpg');
}

section.products {
	text-align: center;
}

section.about {
	text-align: center;
	background-image: url('../images/aboutus.jpg');
	color: #fff;
	background-size: 100%; 	
	background-position: center;
	background-repeat: no-repeat;
	padding: 80px 0 120px 0;
}

section.about p, section.about h2 {
	color: #fff;
}

section.about h2 {
	font-size: 4.5rem;
	margin-bottom: 10px;
}

.product-category-tile {
	width: calc(100% - 100px);
	margin: 0 auto;
	display: block;
	min-height: 180px;
	background-size: 150px;
	background-repeat: no-repeat;
	background-position: center center;
	margin-top: 30px;
}

.product-category-tile.first {
	background-image: url('../images/category-1.png');
}

.product-category-tile.second {
	background-image: url('../images/category-2.png');
}

.product-category-tile.third {
	background-image: url('../images/category-3.png');
}

.product-category-tile.fourth {
	background-image: url('../images/category-4.png');
}

.contact {
	background: #f2f2f2;
}

.contact-container h2 {
	margin: 0;
}
.contact-container {
	padding: 50px;
}

.input-contact, .textarea-contact {
	margin-left: -15px;
	width: 100%;
    max-width: 300px;
    display: block;
    height: 30px;
    border: 1px solid #dadada;
    padding: 15px;
    font-size: 0.8rem;
    border-radius: 30px;
    margin: 10px 0;
}

.textarea-contact {
	height: 100px;
	border-radius: 15px;
	margin-bottom: 20px;
}

h3.address {
	font-weight: normal;
	margin: 0;
	padding: 0;
	margin-bottom: 50px;
}
.contact-map-container {
	height: 100%;
	position: relative;
}

iframe.google-map {
    height: 100%;
    width: 100%;
    min-height: 600px;
}

footer {
	background: #2f3072;
	padding: 55px 0 40px 0;
}

ul.footer-nav li {
    display: inline-block;
    list-style: none;
    color: #fff;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin: 10px 0;
}

.social-media {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 70px;
}

img.social-media-icon {
    height: 40px;
    margin: 0 10px;
    opacity: 0.3;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

img.social-media-icon:hover {
    transform: scale(1.2);
}

footer p {
	opacity: 0.3;
	color: #fff;
	margin-top:20px;
	text-align: center;
}

.newsletter-input {
   text-align: center;
   margin-top: 10px;
}

.newsletter-input input {
   width: calc(100% - 120px);
   height: 40px;
   padding: 14px 20px;
   background-color: #6c6d99;
   border-radius: 40px 0 0 40px;
   font-family: 'proxima-nova', sans-serif;
   font-size: 14px;
   font-weight: 300;
   color: #fff;
   border:none;
}

.newsletter-in::-webkit-input-placeholder
{
  color: #FFF;
}

.newsletter-in:-moz-placeholder
{
  color: #FFF;
}

.newsletter-in::-moz-placeholder
{
  color: #FFF;
}

.newsletter-in:-ms-input-placeholder
{
  color: #FFF;
}

.newsletter-input input:focus {
   outline: none;
}

.newsletter-input button {
   width: 115px;
   height: 40px;
   padding: 10px;
   background-color: #fff;
   border-radius: 0 40px 40px 0;
   font-family: 'proxima-nova', sans-serif;
   font-size: 14px;
   font-weight: 300;
   text-transform: uppercase;
   color: #2e2e6c;
   border: none;   
   cursor: pointer;
   position: relative;
   left: -5px;
}

@media (min-width: 768px) {
    .container {
        width: 730px;
        padding: 0 30px;
    }
}

@media (min-width: 840px) {
    .container {
        width: 800px;
        padding: 0 30px;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 1000px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

@media (min-width: 1350px) {
    .container {
        width: 1300px;
    }
}

@media (max-width: 1200px) {
    .product-category-tile {
        background-size: 100px;
    }
}

@media (max-width: 1024px) {
    ul.footer-nav li {
        display: block;
    }

    section.services p {
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    section.about {
        background-size: cover;
    }

    .newsletter-input input {
        width: calc(100% - 160px);
    }
}

